<!DOCTYPE html>
<html lang="en">
<head>
	<title>test images</title>
</head>
<body>
	<h1>welcome, <a href="/accounts/profile/">{{ request.user.get_full_name }}</a></h1>

{% if request.user.is_staff %}
<div>
	<h1>Upload Image</h1>
    <form action="/upload/" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        {% csrf_token %}
        <input type="text" name="name" value="">
        <input type="file" name="head" value="" >
        <button>Submit</button>
    </form>
</div>
{% endif %}

    <a href="/accounts/logout">logout</a><br>
<hr>
<div>

{% for i in stus %}
<a href="/single/{{i.id}}">{{ i.name }}</a><br>
{% if i.head %}
<img id="{{ i.id }}" src="{{ i.head.url }}" style="width:200px; height: 160px;">
{% else %}
<p>none</p>
{% endif %}
<hr>
{% endfor %}
</div>
file

</body>
</html>